In [1]:
from toolbox import *

In [2]:
ws = load_weather_station_data('./data/weather_station_list.csv')
ws.head()

,station_id,start_date,end_date,elevation,ycoord,xcoord,name,geometry
0,355,1970-01-01 00:00:00.019470101,1970-01-01 00:00:00.019891031,140,49.6789,8.6276,Bensheim,POINT (8.62760 49.67890)
1,917,1970-01-01 00:00:00.019950801,1970-01-01 00:00:00.020240311,162,49.8809,8.6779,Darmstadt,POINT (8.67790 49.88090)
2,918,1970-01-01 00:00:00.019871001,1970-01-01 00:00:00.019950731,122,49.8453,8.6240,Darmstadt,POINT (8.62400 49.84530)
3,919,1970-01-01 00:00:00.019370203,1970-01-01 00:00:00.019740731,169,49.8697,8.6796,Darmstadt-Botanischer,POINT (8.67960 49.86970)
4,920,1970-01-01 00:00:00.019490101,1970-01-01 00:00:00.019870930,108,49.8564,8.5929,Darmstadt,POINT (8.59290 49.85640)